@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@font-face {
    font-family: "Ember";
    src: url(/assets/fonts/AmazonEmber_Lt.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Ember";
    src: url(/assets/fonts/AmazonEmber_Bd.ttf);
    font-weight: 700;
}

:root {
    --tint: 30, 36, 46;
}

body {
    /* font-family: "Ember", Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Ubuntu", Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(var(--tint));
}

#logo {
    width: 100px;
}

nav {
    background-color: rgba(var(--tint));
}

.nav-item .nav-link {
    position: relative;
}

.nav-item.active .nav-link:before {
    content: "";
    width: calc(100% - 1rem);
    position: absolute;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.7);
    top: 90%;
}

nav form input.form-control::placeholder {
    color: rgb(114, 114, 114);
}

nav form input.form-control:focus {
    color: white;
}
nav form input.form-control {
    padding-inline-start: 4ch;
    color: rgba(255, 255, 255, 0.612);
}

form svg {
    position: absolute;
    left: 1ch;
}

section h5 {
    display: flex;
    gap: 0.5ch;
    align-items: center;
    margin: 0;
}

section h5::before {
    content: "";
    background-image: url(/assets/logo/prime-logo-large-v4._CB509553088_.png);
    width: 5ch;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

section .carousel-item .card::after {
    content: url(/assets/logo/prime.svg);
    position: absolute;
    top: 0;
    left: 0;
}

section .carousel-control-next {
    left: 100%;
    width: 30px;
}

ol.carousel-indicators li {
    height: 12px;
    width: 12px;
}

/* img {
    transition: border 5s cubic-bezier(0.01, 0.81, 0.96, 0.3);
    border: 3px solid lightseagreen;
}

img:hover {
    border: 3px solid red;
}
 */

#carouselExampleControls .carousel-inner {
    overflow: visible;
}

.carousel-item {
    z-index: 1;
    transition: z-index 0.75s ease-in-out;
}

.carousel-item:hover {
    z-index: 2;
}

.carousel-item .card .card-body {
    opacity: 0;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.75s ease-in-out;
}

.carousel-item .card {
    transform: scale(1);
    transition: transform 0.75s ease-in-out;
}

.carousel-item .card:hover {
    transform: scale(1.04);
    border: 1px solid lightblue;
}

.carousel-item .card:hover .card-body {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: unset;
}

.carousel-item .card .card-body::after {
    content: "";
    position: absolute;
    background: red;
    bottom: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 20%;
    background: rgb(52, 58, 64);
    background: linear-gradient(0deg, rgba(52, 58, 64, 1) 0%, rgba(52, 58, 64, 0) 100%);
    transition: all 0.75s ease-in-out;
}

.card-body i::before {
    opacity: 0.3;
    transform: scale(1);
    transition: all 0.75s ease-in-out;
    cursor: pointer;
}

.card-body i:hover::before {
    opacity: 1;
    transform: scale(1.2);
}
